/* FlexBox */

@media (min-width: 600px) {
  .flex-container {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    background-color: #ffde37;
    justify-content: center;
    flex-flow: row wrap;
  }
}

/* Styling */

.shadow-5 {
  box-shadow: 4px 4px 8px 0px #001b44;
}

h1 {
  font-family: "avenir next", avenir, sans-serif;
  font-weight: bold;
  font-size: 9vw;
  line-height: 5px;
  text-shadow: 80px 50px #001b44;
}

h3 {
  font-size: 15px;
  text-shadow: 20px 13px #001b44;
}

/* unvisited link */
a:link {
  text-decoration: none;
}

/* visited link */
a:visited {
  color: #ff4136;
}

/* mouse over link */
a:hover {
  color: #ff4136;
}

/* selected link */
a:active {
  color: #fbf1a9;
}
